<%#= @show %>

<table class="table table-sm">
		<tr id='sss'>
			<td>Name</td>
			<td>Phone</td>
			<td>Date</td>
			<td>Barber</td>
			<td>Color</td>
		</tr>
	<% @show.each do |row| %>
		<tr>
			<td><%= row['Name'] %></td>
			<td><%= row['Phone'] %></td>
			<td><%= row['DateStamp'] %></td>
			<td><%= row['Barber'] %></td>
			<td><%= row['Color'] %></td>
		</tr>
    <% end %>
</table>
<script type="text/javascript">
  $(function() {
    
    // тут можно написать любой javascript код, который исполнится
    // после загрузки страницы
  
  $('#sss').css('bald');
 

  });
  
</script>
