<%#= @show %>

<table class="table table-bordered border-primary">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Date</th>
			<th>Barber</th>
			<th>Color</th>
		</tr>
	</thead>
	<body>
	<% @show.each do |row| %>
			<tr>
				<td><%= row['Name'] %></td>
				<td><%= row['Phone'] %></td>
				<td><%= row['DateStamp'] %></td>
				<td><%= row['Barber'] %></td>
				<td><%= row['Color'] %></td>
			</tr>
    	<% end %>
	</body>
</table>

